@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+Chettan+2:wght@700&family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");

html {height:100%}
* {box-sizing: border-box;}

body {
    background-color: rgb(78, 55, 55);
    background-image: url(sunset.jpg);
    background-size: cover;
    color: whitesmoke;
    margin: 0px;
    width: 100%;
    display: grid;
    grid-template-areas: "head head"
                         "logo logo"
                         "cont rad"
                         "foot foot";
    grid-template-columns: 75% 25%;
    grid-template-rows: 60px 150px auto auto;
}

/*
=================================================================
        HEADER STYLING
=================================================================
*/

header {
    background-color: rgb(75, 108, 119);
    grid-area: head;
    position: sticky;
    top: 0;
    font-family: 'Nerko One', cursive;
    z-index: 1;
}

/*---------  Nav Links ----------*/

header a {
    float: left;
    height: 60px;
    padding: 22px 15px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

header a:hover {
    background-color: rgb(126, 126, 126);
    color: black;
}

header a:active {
    color: blue;
}

/*-------  Header Signin --------*/

header .signin {
   float: right;
   height: 60px;
}

header input[type=text] {
    padding: 6px;
    margin: 17px 4px;
    font-size: 12px;
    border: none;
    width: 120px;
}

header .signin button {
    float: right;
    padding: 6px 10px;
    margin: 13px 10px 13px 6px;
    background-color: #555;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/*------- Sticky Nav Box --------*/

#link-box {
    display: none;
    position: sticky;
    top: 5px;
    left: 30px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
}

#sticky-links {
    display: none;
    position: absolute;
    top: 45px;
    width: 100px;
    height: fit-content;
    background-color: white;
}

#sticky-links a {
    color: black;
    width: 100%;
}

/*
================================================================
        BODY STYLING
================================================================
*/

/*---------  Top Logo ----------*/

.topad {
    grid-area: logo;
    margin: 0px;
    padding: 25px;
    text-align: center;
    font-size: 100px;
    font-family: 'Monofett', cursive;
    color: rgba(11, 108, 236, 0.658);
}
.topad h1 {
    color: white;
    background-color: rgb(75, 108, 119);
}

/*-------  Sidebar Ads --------*/

.rightadbar {
    grid-area: rad;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    animation: tilt-in-fwd-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes tilt-in-fwd-tl {
    0% {
      -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
              transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
}

.ads {
    background-color: rgb(170, 190, 202);
    width: 80%;
    margin: 20px auto;
    font-family: 'Nerko One', cursive;
    color:white;
    text-align: center;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
}

.ads h1, .ads h2{
    margin: 75px auto 25px auto;
    background-color: rgba(0, 0, 0, 0.651);
}

/*-------  Main Body Content --------*/

.content {
    grid-area: cont;
    justify-content: center;
    border:solid 2px white;
    margin-bottom: 20px;
    padding: 20px 40px;
	animation: bounce-in-left 1.1s both;
}

.content > h1 {
    text-align: center;
    text-decoration: underline;
}

@keyframes bounce-in-left {
    0% {
        transform: translateX(-600px);
        animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
        transform: translateX(0);
        animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
        transform: translateX(-68px);
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateX(-28px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateX(-8px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
  }

/*
=================================================================
        FOOTER STYLING
=================================================================
*/

footer {
    grid-area: foot;
    background-color: rgb(75, 108, 119);
    text-align: center;
    padding-top: 20px;
    font-size: 1em;
    font-family: 'Nerko One', cursive;
}

footer p {
    padding: 10px 0px;
    text-decoration: underline;
}

.column {
    width: 30%;
    display: inline-block;
}

footer a {
    display: block;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
} 

footer a:hover {
    background-color: rgb(88, 87, 87);
    margin-left: 25px;
}

footer a:active {
    text-decoration: underline;
    color: blue;
}

/*
=================================================================
       HEADER MEDIA QUERIES
=================================================================
*/

@media screen and (max-width: 800px) {
    #link-box {
        display: inline-block;
    }

    #link-box:hover #sticky-links {
        display: inline-block;
    }

    header > a {
        display: none;
    }

    .topad {
        font-size: 75px;
    }
}