@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+Chettan+2:wght@700&family=Nerko+One&display=swap");

html {height:100%}t
* {box-sizing: border-box;}

body {
    background-color: rgb(78, 55, 55);
    background-image: url(/stylesheets/sunset.jpg);
    background-size: cover;
    /* test */
    color: whitesmoke;
    margin: 0px;
    width: 100%;
    display: grid;
    grid-template-areas: "head head"
                         "tad tad"
                         "cont rad"
                         "foot foot";
    grid-template-columns: 75% 25%;
    grid-template-rows: 60px 100px auto auto;
}

/*
===================================================
        HEADER STYLING
===================================================
*/

header {
    background-color: rgb(75, 108, 119);
    height: 60px;
    grid-area: head;
    /* background-color: black; */
    position: sticky;
    top: 0;
    font-family: 'Nerko One', cursive;
}

header a {
    float: left;
    /* height: 30px; */
    padding: 15px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

header a:hover {
    background-color: rgb(126, 126, 126);
    color: black;
    text-decoration: underline;
}
header a:active {
    text-decoration: underline;
    color: blue;
}

header .signin {
   float: right;
   margin-top: 8px;
}

header input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 12px;
    border: none;
    width:120px;
}

header .signin button {
    float: right;
    padding: 6px 10px;
    margin: 4px 10px;
    background-color: #555;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#link-box {
    display: none;
    position: sticky;
    top: 5px;
    left: 30px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
}

#sticky-links {
    display: none;
    position: absolute;
    top: 45px;
    width: 100px;
    height: fit-content;
    background-color: white;
}

#sticky-links a {
    color: black;
    width: 100%;
}

/*
=================================================
        BODY STYLING
=================================================
*/

.topad {
    grid-area: tad;
    margin: 10px 0px;
    /* background-color: black; */
    text-align: center;
    padding: 40px 0px;
}

.rightadbar {
    grid-area: rad;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.ads {
    width: 80%;
    height: 300px;
    background-color: black;
    padding: 50px 10px;
    margin: 20px;
    font-family: 'Nerko One', cursive;
}

.content {
    grid-area: cont;
    /* background-color: black; */
    justify-content: center;
    border:solid 2px white;
    margin-bottom: 20px;
}





/*
===========================================================
        FOOTER STYLING
===========================================================
*/

footer {
    grid-area: foot;
    /* background-color: black; */
    text-align: center;
    padding-top: 20px;
    font-size: 1em;
    font-family: 'Nerko One', cursive;
}

footer p {
    padding: 20px 0px;
    text-decoration: underline;
}

.column {
    width: 30%;
    display: inline-block;
}

footer a {
    display: block;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
} 

footer a:hover {
    background-color: rgb(88, 87, 87);
    margin-left: 25px;
}

footer a:active {
    text-decoration: underline;
    color: blue;
}

/*
===============================================================
       HEADER MEDIA QUERIES
===============================================================
*/

@media screen and (max-width: 1050px) {
    .flex-container a {
        width: 35%;
    }
    .donate a {
        width: 35%;
    }
}

@media screen and (max-width: 800px) {
    #link-box {
        display: inline-block;
    }

    #link-box:hover #sticky-links {
        display: inline-block;
    }

    header > a {
        display: none;
    }
}