/*
=================================================
*/

.topad {
    height: 100px;
    width: 100%;
    margin: 10px 0px;
    /* background-color:  rgb(170, 190, 202); */
}

.topad p {
    display: block;
    text-align: center;
    padding: 40px 0px;
    margin: 0px;
}

.rightadbar {
    float: right;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.ads {
    right: 20px;
    width: 200px;
    height: 33%;
    background-color: rgb(170, 190, 202);
    padding: 50px 10px;
    margin: 20px;
    font-family: 'Nerko One', cursive;
}

/*
=================================================
        MAIN BODY NAV
=================================================
*/

.toolnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:  rgb(75, 108, 119);
    margin: 20px auto;
    width: 100%;
    height: 60px;
    text-align: center;
    font-family: 'Nerko One', cursive;
}

.toolnav li {
    list-style-type: none;
    padding-top: 20px;
}

.toolnav a {
    height: 100%;
    padding: 20px 30px 15px 30px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.toolnav a:hover{
    background-color: rgb(126, 126, 126);
    color: black;
} 

/*
=================================================
        MAIN BODY LINKS
=======
        MAIN PAGE CONTENT
=================================================
*/

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: black; */
    text-align: center;
    justify-content: center;
    transition: 500ms;
}

.flex-container a {
    margin: 30px;
    font-size: 20px;
    height: 200px;
    width: 230px;
    transition: width 0.5s;
    border-radius: 25px;
    border:solid 2px white;
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
}

.flex-container a:hover{ 
    font-size: 22px;
    width: 250px;
    text-decoration: underline;
}

.flex-container h1, .flex-container p {
    background-color: rgba(88, 87, 87, 0.5);
}

/*
=================================================
        CONTACT PAGE CONTENT
=================================================
*/

#donate {
    height: 100px;
    width: 80%;
    text-align: center;
}

#donate:hover { 
    width: 85%;
}

.pagebreak {
    background-color: black;
    width: 100%;
    height: 30px;
}

.p {
    font-size: 20px;
    text-align: center;
    padding: 0px 40px;
}

.p a:link {
    text-decoration: none;
    color:rgb(9, 44, 58);
}

.questions, .imgr {
    width: 40%;
    margin: 20px;
    border-radius: 10px;
}

.questions label {
    float: left;
}

.questions input[type=text], select, textarea {
    width: 70%;
    float: right;
}

.social {
    padding-top: 10px;
    background-color: black;
    height: 40px;
 }

.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: aliceblue;
}

/*
===============================================================
       MAIN PAGE MEDIA QUERIES
===============================================================
*/

@media screen and (max-width: 800px) {

    .flex-container a {
        display: inline-flex;
        align-items: center;
        height: 150px;
        width: 250px;
        margin: 15px 30px;
        transition: height 0.5s;
    }

    .flex-container h1 {
        font-size: 30px;
        margin-left: 20px;
    }

    .flex-container p {
        display: none;
    }

    .flex-container a:hover {
        height: 200px;
        width: 300px;
    }

    .flex-container a:hover p {
        display: block;
    }

    .ads p {
        display: block;
        text-align: center;
        padding-top: 75px;
    }

/*
===============================================================
       CONTACT PAGE MEDIA QUERIES
===============================================================
*/

    .donate {
        height: 150px;
    }

    .donate h1 {
        font-size: 30px;
        margin-left: 20px;
    }

    .fa {
        width: 25px;
        margin: 5px 2px;
      }
}