/*
=================================================
        MAIN PAGE CONTENT
=================================================
*/

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    transition: 500ms;
}

.flex-container a {
    margin: 30px;
    font-size: 20px;
    height: 200px;
    width: 230px;
    transition: width 0.5s;
    border-radius: 25px;
    border:solid 2px white;
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
}

.flex-container a:hover{ 
    font-size: 22px;
    width: 25%;
    text-decoration: underline;
}

.flex-container h1, .flex-container p {
    background-color: rgba(88, 87, 87, 0.5);
}

/*
===============================================================
       MAIN PAGE MEDIA QUERIES
===============================================================
*/

@media screen and (max-width: 800px) {

    .flex-container a {
        display: inline-flex;
        align-items: center;
        height: 150px;
        width: 250px;
        margin: 15px 30px;
        transition: height 0.5s;
    }

    .flex-container h1 {
        font-size: 30px;
        margin-left: 20px;
    }

    .flex-container p {
        display: none;
    }

    .flex-container a:hover {
        height: 200px;
        width: 300px;
    }

    .flex-container a:hover p {
        display: block;
    }

    .ads p {
        display: block;
        text-align: center;
        padding-top: 75px;
    }
}