/*
=================================================
        MAIN PAGE CONTENT
=================================================
*/

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.flex-container a {
    margin: 20px;
    font-size: 20px;
    height: 200px;
    width: 200px;
    transition: width 0.5s;
    border-radius: 25px;
    border:solid 2px white;
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
}

.flex-container a:hover{ 
    font-size: 22px;
    width: 250px;
    text-decoration: underline;
}

.flex-container h1, .flex-container p {
    background-color: rgba(88, 87, 87, 0.5);
}

/*
=================================================
        CONTACT PAGE CONTENT
=================================================
*/

#donate {
    height: 100px;
    width: 80%;
    text-align: center;
}

#donate:hover { 
    width: 85%;
}

.pagebreak {
    background-color: black;
    width: 100%;
    height: 30px;
}

.p {
    font-size: 20px;
    text-align: center;
    padding: 0px 40px;
}

.p a:link {
    text-decoration: none;
    color:rgb(9, 44, 58);
}

.questions {
    display: inline-block;
    padding-left: 50px;
    padding-right: 75px;
    width: 80%;
    margin: 20px;
    border-radius: 10px;
}
.social {
    padding-top: 10px;
    background-color: black;
    height: 40px;
    text-align: center;
 }

.fa {
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;
  color: aliceblue;
}

iframe{
    width: 100%;
    margin-bottom: 2em;
    padding-top: 2em;
}

.hotline{
    text-align: center;
    text-decoration: underline;
}

/*
===============================================================
       LOGIN PAGE CONTENT
===============================================================
*/

#mainlogin button {
    width: 20%;
    margin: 0px 40%;
    font-family: 'Nerko One', cursive;
}

#mainlogin input[type=text] {
    width: 80%;
    height: 30px;
    margin: 10px 10%;
}

/*
===============================================================
       MAIN PAGE MEDIA QUERIES
===============================================================
*/

@media screen and (max-width: 800px) {

    .flex-container a {
        display: inline-flex;
        align-items: center;
        height: 150px;
        width: 250px;
        margin: 15px 30px;
        transition: height 0.5s;
    }

    .flex-container h1 {
        font-size: 30px;
        margin-left: 20px;
    }

    .flex-container p {
        display: none;
    }

    .flex-container a:hover {
        height: 200px;
        width: 300px;
    }

    .flex-container a:hover p {
        display: block;
    }

    .ads p {
        display: block;
        text-align: center;
        padding-top: 75px;
    }

/*
===============================================================
       CONTACT PAGE MEDIA QUERIES
===============================================================
*/

    .donate {
        height: 150px;
    }

    .donate h1 {
        font-size: 30px;
        margin-left: 20px;
    }

    .fa {
        width: 25px;
        margin: 5px 2px;
      }
    
    .questions {
        padding-right: 5px;
        padding-left: 10px;
    }
    
}
